*{
    margin: 0px;
    padding: 0px;
    border: border-box;
}



.Grand-cont{
    margin: 31px 17% 100px 17%;
}


.top{
    height: 31px;
    font-size: 1rem;
    margin-bottom:40px;
    margin-left: 17%;
    margin-top: 32px;
    padding-left: 24px;
    font-family: "Roboto Slab", serif;
}


.top:hover{
    color: grey;
    font-size:1.05rem;
}


.cont1{
    display: flex;
    justify-content: center;
    width:100%; 
    height:320px;
    animation-name: upset;
    animation-duration: 0.7s;
    animation-iteration-count: 1;    
}
.cont2{
    display: flex;
    justify-content: center;
    width:100%; 
    height:320px; 
    animation-name: upset;
    animation-duration: 1.5s;
    animation-iteration-count: 1;   
}
.cont3{
    display: flex;
    justify-content: center;
    width:100%; 
    height:320px; 
    animation-name: upset;
    animation-duration: 2.2s;
    animation-iteration-count: 1;   
}
.cont4{
    display: flex;
    justify-content: center;
    width:100%; 
    height:320px;  
    animation-name: upset;
    animation-duration: 2.8s;
    animation-iteration-count: 1;  
}

@keyframes upset{
    0%{
        opacity: 0.2;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.Info{
    width: 520px;
    height: 320px;
   
}

.Image1{
    width: 32.3rem;
    height: 20rem;
    background-size: cover;
    background-image: url("Img1.jpg");
    transition-duration: 1s;
}
.Image1:hover{
    transform:scaleX(-1);
}


.Image2{
    width: 32.3rem;
    height: 20rem;
    background-size: cover;
    background-image: url("Img2.png");
    transition-duration: 1s;
}
.Image2:hover{
    transform:scaleX(-1);
}

.Image3{
    width: 32.3rem;
    height: 20rem;
    background-size: cover;
    background-image: url("Img3.jpg");
    transition-duration: 1s;
}
.Image3:hover{
    transform:scaleX(-1);
}

.Image4{
    width: 32.3rem;
    height: 20rem;
    background-size: cover;
    background-image: url("Img4.jpg");
    transition-duration: 1s;
    
}
.Image4:hover{
    transform:scaleX(-1);
}




.line1{
    width:25rem;
    font-size: 3.05rem;
    height: 121.6px;
    font-weight: 300;
    font-family: "Roboto Slab", serif;
    
}

.line1:hover{
    font-size: 3.1rem;
    border-bottom: 1px solid grey;
}

.line2{
    width:25rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top:38.4px;
    padding-bottom:9.6px;
    font-family: "Roboto Slab", serif;
   
}

a{
    text-decoration: none;
     color: black; 
    font-weight:bolder;
}


.line3_1{
    color: black; 
    font-size: 20px; 
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    font-family: "Roboto Slab", serif;
}


.line3_2{
    color: black;
    font-size: 20px; 
    margin-top: 2.35rem;
    margin-bottom: 2.35rem;
    font-family: "Roboto Slab", serif;
   
}

.line3_3{
    color: black;
    font-size: 20px; 
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    font-family: "Roboto Slab", serif;
   
}
.line3_4{
    color: black;
    font-size: 20px; 
    margin-top: 2.35rem;
    margin-bottom: 2.35rem;
    font-family: "Roboto Slab", serif;
    
   
}

.Button{
    height:3.5rem;
    width:14rem;
    background-color: #212529;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.Button:hover{
    background-color: #212529cd;
    transition: all;
    transition-duration: .1s;
    transition-delay: .1s;

}

.toggle{
    font: 400;
    font-family: Arial, Helvetica, sans-serif;
}

